3.database/data
*.m4a
*.srt
*.mp3
*.m4s
*.wav
*.safetensors
*.pt
*.pkl
**/.idea
**/uv.lock
**/__pycache__
4.rd/2.SegmentTimecodeHumanVerificationUI/.build
4.rd/1.IAChronicleDetector/4.TransformerDetection/models/**/*
!4.rd/1.IAChronicleDetector/4.TransformerDetection/models/**/*.md
4.rd/1.IAChronicleDetector/4.TransformerDetection/results
4.rd/1.IAChronicleDetector/3.MachineLearningTranscription-Hybrid/models/**/*
!4.rd/1.IAChronicleDetector/3.MachineLearningTranscription-Hybrid/models/**/*.md
4.rd/1.IAChronicleDetector/4.TransformerDetection/wandb
4.rd/1.IAChronicleDetector/4.TransformerDetection/tea_debug.log
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/5.MachineLearningAudio-PretrainedModel/model_output
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/5.MachineLearningAudio-PretrainedModel/model_output_ast
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/5.MachineLearningAudio-PretrainedModel/model_output_binary
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/5.MachineLearningAudio-PretrainedModel/wandb
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/5.MachineLearningAudio-PretrainedModel/model_output
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/5.MachineLearningAudio-PretrainedModel/model_output_ast
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/5.MachineLearningAudio-PretrainedModel/model_output_binary
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/5.MachineLearningAudio-PretrainedModel/wandb
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/6.LiveTranscriptionStartAndEndDetection/camembert_chronicle_start
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/6.LiveTranscriptionStartAndEndDetection/wandb
4.rd/1.IAChronicleDetector/0.IAChronicleDetection/6.LiveTranscriptionStartAndEndDetection/camembert_chronicle_start_v2
1.RLAC-AudioRecorder/media
1.RLAC-AudioRecorder/.gradle
5.GMFM_Android_App/.gradle
5.GMFM_Android_App/app/build
1.RLAC-AudioRecorder/.gradle
1.RLAC-AudioRecorder/media
*.hprof
*.m3u8
*.mp4
4.rd/@assets/1.modelOutputs/0.transcriptions/2.transcriptions_kyutai_stt_2.6b_fr
