3.database/data
*.m4a
*.srt
*.mp3
*.wav
**/.idea
**/uv.lock
**/__pycache__
*.pkl
4.rd/2.SegmentTimecodeHumanVerificationUI/.build
4.rd/1.IAChronicleDetector/4.TransformerDetection/models/**/*
!4.rd/1.IAChronicleDetector/4.TransformerDetection/models/**/*.md
4.rd/1.IAChronicleDetector/4.TransformerDetection/results
4.rd/1.IAChronicleDetector/3.MachineLearningTranscription-Hybrid/models/**/*
!4.rd/1.IAChronicleDetector/3.MachineLearningTranscription-Hybrid/models/**/*.md
4.rd/1.IAChronicleDetector/4.TransformerDetection/wandb
4.rd/1.IAChronicleDetector/4.TransformerDetection/tea_debug.log
