3.database/data
*.m4a
*.srt
*.mp3
*.wav
**/.idea
**/uv.lock
**/__pycache__
*.pkl
!4.rd/1.IAChronicleDetector/3.MachineLearningTranscription-Hybrid/models/README.md

4.rd/1.IAChronicleDetector/3.MachineLearningTranscription-Hybrid/models/*
!4.rd/1.IAChronicleDetector/3.MachineLearningTranscription-Hybrid/models/*.md
4.rd/1.IAChronicleDetector/3.MachineLearningTranscription-Hybrid/models/**/*
!4.rd/1.IAChronicleDetector/3.MachineLearningTranscription-Hybrid/models/**/*.md
